

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    line-height: 1.6
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; 
}

.calculadora {
    max-width: 400px;
    padding: 20px;
    background-color: #eeeeee;
    border-radius: 10px;
}


h1{
    text-align: center;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
    font-size: 16px;
}

input{
    width: 350px;
    height: 10px;
    padding: 25px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
}

.nota-operaciones {
    max-width: 400px;
    font-size: 14px;
    color: #555;
    background: #eafbe5;
    padding: 15px;
    border-radius: 10px;
}

button{
    width: 100%;
    padding: 10px;
    background: #4c9e1c;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-top: 50px;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color:#2e5f11;
}

.resultado {
    width: 650px;
    padding: 10px;
    background:#eeeeee;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
}


